{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
{{ form_errors(form) }}

{{ form_row(form.current_password, {'label': 'Current Password'}) }}

{{ form_row(form.plainPassword.first, {'label': 'Password'}) }}

{{ form_row(form.plainPassword.second, {'label': 'Password Confirm'}) }}

{{ form_rest(form) }}
<div>
    <input class="btn btn-default" type="submit" value="{{ 'Change Password Submit'|trans }}" />
</div>
{{ form_end(form) }}
